<div class="container d-flex align-items-center justify-content-center" style="height: 80vh;">
  <div id="page-content">
    <h1 class="text-center mt-4">Create a new article</h1>
    <%= render 'layouts/form' %>
  </div>
</div>  