<footer id="sticky-footer" class="py-4 bg-dark text-white">

 
  <div class="container text-center">
    <small> Copyright © <%= link_to "Alex Xirouchakis", "https://verbumsap.xyz", class: "text-white" %></small>
  </div>  
</footer>